/wp-admin/
/wp-content/plugins/*
!/wp-content/plugins/recipe/
/wp-content/themes/*
!/wp-content/themes/lapizzeria
/wp-includes/

wp-activate.php
wp-blog-header.php
wp-comments.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
